{% extends "Template.html" %}
{% block pagebody %}
  <form id="servosForm" method="post">
  <!-- Drop down menu -->
    <select id="sel-conf"
            name="sel-conf"
            class="tablinks"
            onmousedown="this.value='';"
            onchange="openTab(event, this.value);">
      {% for servo in configDb %}
          <option value="Servo{{ servo['Id'] }}">
            {{servo['Id']}}. {{servo['Limb']}} {{servo['Name']}}
          </option> 
      {% endfor %}
    </select>
  <!-- The servos -->
    {% for servo in configDb %}
      <div id="Servo{{ servo['Id'] }}" class="tabcontent">
        <h4>{{servo['Id']}}. {{servo['limb']}} {{servo['name']}}</h4>
        <label for="Servo{{ servo['Id'] }}Pin">Pin</label>
        <input type="range"
                     name="Servo{{ servo['Id'] }}Pin"
                     id="Servo{{ servo['Id'] }}Pin"
                     value="{{ servo['Pin'] }}"
                     min="0"
                     max="16"
                     step="1">
        
        <label for="Servo{{ servo['Id'] }}I2CAddr">I2CAddr</label>
        <input type="text"
                     name="Servo{{ servo['Id'] }}I2CAddr"
                     id="Servo{{ servo['Id'] }}I2CAddr"
                     value="{{ servo['I2CAddr'] }}">
                     
        <label for="Servo{{ servo['Id'] }}Offset">Offset</label>
        <input type="range"
                     name="Servo{{ servo['Id'] }}Offset"
                     id="Servo{{ servo['Id'] }}Offset"
                     value="{{ servo['Offset'] }}"
                     min="-50"
                     max="50"
                     step="1">

        <label for="Servo{{ servo['Id'] }}Direction">Direction</label>
        <input type="range"
                     name="Servo{{ servo['Id'] }}Direction"
                     id="Servo{{ servo['Id'] }}Direction"
                     value="{{ servo['direction'] }}"
                     min="-1"
                     max="1"
                     step="2">
                     
        <label for="Servo{{ servo['Id'] }}Minimum">Minimum</label>
        <input type="range"
                     name="Servo{{ servo['Id'] }}Minimum"
                     id="Servo{{ servo['Id'] }}Minimum"
                     value="{{ servo['Minimum'] }}"
                     min="-10"
                     max="190"
                     step="1">

        <label for="Servo{{ servo['Id'] }}Maximum">Maximum</label>
        <input type="range"
                     name="Servo{{ servo['Id'] }}Maximum"
                     id="Servo{{ servo['Id'] }}Maximum"
                     value="{{ servo['Maximum'] }}"
                     min="-10"
                     max="190"
                     step="1">
       </div>
    {% endfor %}
    
    <!-- <button onclick="fnShowSnackbar()">Apply Config</button>
         <div id="snackbar">Config saved.</div>
    -->
	
	<input type="submit" id-"submit" name="submit" value="Apply Config">
    
  </form>
  
{% endblock %}

