{% extends "Template.html" %}
{% block pagebody %}
  <form id="servosForm" method="post">
  <!-- Drop down menu -->
    <select id="sel-conf"
            name="sel-conf"
            class="tablinks"
            onmousedown="this.value='';"
            onchange="openTab(event, this.value, "tabcontent");">
      {% for servo in configDb %}
          <option value="Servo{{ servo['Id'] }}">
            {{servo['Id']}}. {{servo['limb']}} {{servo['name']}}
          </option> 
      {% endfor %}
    </select>
  <!-- The servos -->
    {% for servo in configDb %}
      <div id="Servo{{ servo['Id'] }}" class="tabcontent">
        <h4>{{servo['Id']}}. {{servo['limb']}} {{servo['name']}}</h4>
        <label for="Servo{{ servo['Id'] }}Offset">Offset</label>
        <input type="range"
                     name="Servo{{ servo['Id'] }}Offset"
                     id="Servo{{ servo['Id'] }}Offset"
                     value="{{ servo['offset'] }}"
                     min="-20"
                     max="20"
                     step="1">

        <label for="Servo{{ servo['Id'] }}Direction">Direction</label>
        <input type="range"
                     name="Servo{{ servo['Id'] }}Direction"
                     id="Servo{{ servo['Id'] }}Direction"
                     value="{{ servo['direction'] }}"
                     min="-1"
                     max="1"
                     step="2">
                     
        <label for="Servo{{ servo['Id'] }}Minimum">Minimum</label>
        <input type="range"
                     name="Servo{{ servo['Id'] }}Minimum"
                     id="Servo{{ servo['Id'] }}Minimum"
                     value="{{ servo['min'] }}"
                     min="0"
                     max="180"
                     step="1">

        <label for="Servo{{ servo['Id'] }}Maximum">Maximum</label>
        <input type="range"
                     name="Servo{{ servo['Id'] }}Maximum"
                     id="Servo{{ servo['Id'] }}Maximum"
                     value="{{ servo['max'] }}"
                     min="{{ 0 }}"
                     max="{{ 180 }}"
                     step="1">
       </div>
    {% endfor %}
    
    <button onclick="fnShowSnackbar()">Apply Config</button>
    <div id="snackbar">Config saved.</div>
    
  </form>
  
{% endblock %}

{% block endOfPage %}
  <script>
    // Get the element with id="defaultOpen" and click on it
    //openTab("Servo1");
    document.getElementById("Servo1").style.display = "block";
    //document.getElementById('sel-conf').click();
  </script>
{% endblock %}
