{% extends "Template.html" %}
{% block pagebody %}
  <form id="servosForm" method="post">
  <!-- Pose drop down menu -->
    <select id="sel-pose"
            name="sel-pose"
            onmousedown="this.value='';"
            onchange="openTab(event, this.value);">
      {% for pose in poseDb %}
        <option value="Pose{{pose['Id']}}" class="pose-list">
          {{pose['Name']}}
        </option>
      {% endfor %}
    </select>
  <!-- Limbsssssssssssss drop down menu -->
    {% for pose in poseDb %}
      <div id="Pose{{pose['Id']}}" class="tabcontent">
        <select id="sel-limbs{{pose['Id']}}"
                name="sel-limbs{{pose['Id']}}"
                class="tablinks"
                onmousedown="this.value='';"
                onchange="openTab(event, this.value, 'tabcontent2');">
          {% for limb in limbs %}
            <option value="{{pose['Id']}}.{{ limb }}">
              {{ limb }}
            </option> 
          {% endfor %}
        </select>
        
        <!-- Show the limbs -->
        {% for limb in limbs %}
          <div id="{{pose['Id']}}.{{ limb }}" class="tabcontent2" style.display = "none">
            {% for servo in configDb %}
              {% if servo['limb'] == limb %}
                <label for="Servo{{ servo['Id'] }}">{{ servo['name'] }}:</label>
                <input type="range"
                       name="Servo{{ servo['Id'] }}"
                       id="Servo{{ servo['Id'] }}"
                       value="90"
                       min="{{ servo['Minimum'] }}"
                       max="{{ servo['maximum'] }}"
                       step="10">
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    
    <button onclick="fnShowSnackbar()">Apply Config</button>
    <div id="snackbar">Config saved.</div>
    
  </form>
  
{% endblock %}

{% block endOfPage %}
  <script>
    // Get the element with id="defaultOpen" and click on it
    //openTab("Servo1");
    // document.getElementById("Servo1").style.display = "block";
    //document.getElementById('sel-conf').click();
    
    document.getElementsByClassName('tablinks')[1].click();
  </script>
{% endblock %}
