{% extends "Template.html" %}
{% block pagebody %}
  <form id="servosForm" name="servosForm" method="post" autocomplete="off">
  <!-- Pose drop down menu -->
    <select id="sel-pose"
            name="sel-pose"
            class="tablinks"
            onmousedown="this.value='';"
            <onchange="openTab(event, this.value);">
      {% for pose in poseDb %}
        <option value="Pose{{pose['Id']}}" class="pose-list"
        {% if pose['Id'] == poseDb|length %}selected{% endif %}>
          {{pose['Name']}}
        </option>
      {% endfor %}
    </select>
  <!-- List each poses -->
    {% for pose in poseDb %}
      <div id="Pose{{pose['Id']}}" name="{{pose['Name']}}" class="tabcontent"
      {% if pose['Id'] == poseDb|length %} style="display: block;"
      {% else %}                           style="none;"
      {% endif %}>
        <h3>{{pose['Name']}}</h3>
        <!-- Show the limbs -->
        {% for limb in limbs %}
          <div id="{{pose['Id']}}.{{ limb }}">
            <h4>{{ limb }}</h4>
            <!-- Show the servos in the limb category -->
            {% for servo in configDb %}
              {% if servo['Limb'] == limb %}
                {% set sName = servo['Name'] %}
                {% set sId = servo['Id'] %}
                <label for="{{pose['Id']}}.Servo{{ sId }}">{{ sName }}:</label>
                <input type="range"
                       name="{{pose['Id']}}.Servo{{ sId }}"
                       id="{{pose['Id']}}.Servo{{ sId }}"
                       value="{{ pose[ 'Servo%dPos' % sId ] }}"
                       min="{{ servo[ 'Minimum' ] }}"
                       max="{{ servo[ 'Maximum' ] }}"
                       step="10">
                       
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <!-- Buttons! -->
    <input type="submit" id="submit" name="submit" value="Save Pose">
    <input type="submit" id="submit" name="submit" value="Move to Pose">
    <input type="button" onclick="getTextAndPost('pose')"
           value="Save as a new Pose">
    <input type="button" onclick="confirmAndPost('pose')"
           value="Delete Pose">
    <div id="snackbar">Config saved.</div>
  </form>
{% endblock %}
