{% extends "Template.html" %}
{% block pagebody %}
  <form id="servosForm" method="post" autocomplete="off">
  <!-- Sequence drop down menu -->
    <select id="sel-seq"
            name="sel-seq"
            class="tablinks"
            onmousedown="this.value='';"
            onchange="openTab(event, this.value);">
      {% for seq in seqDb %}
        <option value="Seq{{seq['Id']}}" class="seq-item"
        {% if seq['Id'] == maxSeqId %}selected{% endif %}>
          {{seq['Name']}}
        </option>
      {% endfor %}
    </select>
  <!-- List each sequence -->
    {% for seq in seqDb %}
      <div id="Seq{{seq['Id']}}" name="{{seq['Name']}}" class="tabcontent"
      {% if seq['Id'] == maxSeqId %} style="display: block;"
      {% else %}                         style="none;"
      {% endif %}>
        <h3>{{seq['Name']}}</h3>
        <!-- Show the poses -->
        {% for i in range(1,11) %}
          <div id="{{seq['Id']}}.{{ i }}">
            <p>{{i}}.</p>
            <!-- Get PoseId -->
            <select id="{{seq['Id']}}.{{ i }}.Pose"
                    name="{{seq['Id']}}.{{ i }}.Pose"
                    this.value={{seq["Pose%d"%i]}}>
              <option value=null></option>
              {% for pose in poseDb %}
                <option value={{pose['Id']}}
                          {% if pose['Id'] == seq["Pose%d" % i] %}
                            selected
                          {% endif %}>
                  {{pose['Name']}}
                </option>
              {% endfor %}
            </select>
            <!-- get DelayTimeMs -->
            <input type="number"
                        id="{{seq['Id']}}.{{ i }}.Delay"
                        name="{{seq['Id']}}.{{ i }}.Delay"
                        value={{seq["Delay%dms" % i]}}
                        min="0" max="5000" step="1">
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <!-- Buttons! -->
    <input type="submit" id="submit" name="submit" value="Save Sequence">
    <input type="submit" id="submit" name="submit" value="Execute Sequence">
    <input type="button" onclick="getTextAndPost('sequence')"
           value="Save as a new Sequence">
    <input type="button" onclick='confirmAndPost('sequence')'
           value="Delete Sequence">
    <div id="snackbar">Config saved.</div>
  </form>
{% endblock %}
